In [2]:
import os
import pandas as pd
import numpy as np
from dotenv import load_dotenv
from google.cloud import bigquery
pd.set_option('display.max_rows', 100)    # Show all rows



load_dotenv()
query_path = os.environ.get('BASE_QUERY_PATH')
client = bigquery.Client(os.environ.get('BIGQUERY_PROJECT_NAME'))

In [4]:
print(os.environ.get('BIGQUERY_PROJECT_NAME'))

phys-439706

In [16]:
# get the types of items that can be administered to a patient

with open(f"{query_path}/fnhrt_temps.sql", 'r') as file:
    FNHRT_read = file.read()

FNHRT_result = client.query(FNHRT_read).to_dataframe()
FNHRT_result

/home/tyx1999120755/.pyenv/versions/3.12.7/envs/transfusion/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

,subject_id,hadm_id,icustay_id,transfusion_starttime,temp_recorded_time,temperature_fahrenheit,baseline_temp_f,fnthr_criteria
0,109,126055,236124,2141-10-17 17:45:00,2141-10-24 05:00:00,100.8,98.7,Temperature rise ≥1°C (1.8°F) above baseline
1,109,126055,236124,2141-10-17 17:45:00,2141-10-24 05:00:00,100.8,98.7,Temperature rise ≥1°C (1.8°F) above baseline
2,109,126055,236124,2141-10-17 17:45:00,2141-10-25 08:00:00,102.0,98.7,Temperature rise ≥1°C (1.8°F) above baseline
3,109,126055,236124,2141-10-17 17:45:00,2141-10-25 08:00:00,102.0,98.7,Temperature rise ≥1°C (1.8°F) above baseline
4,109,126055,236124,2141-10-18 18:10:00,2141-10-24 05:00:00,100.8,98.7,Temperature rise ≥1°C (1.8°F) above baseline
...,...,...,...,...,...,...,...,...
172780,99955,108494,243255,2139-07-14 04:59:00,2139-07-17 09:00:00,101.7,98.6,Temperature ≥38°C (100.4°F)
172781,99955,108494,243255,2139-07-14 04:59:00,2139-07-17 22:00:00,101.2,98.6,Temperature ≥38°C (100.4°F)
172782,99955,108494,243255,2139-07-14 04:59:00,2139-07-18 18:00:00,100.7,98.6,Temperature ≥38°C (100.4°F)
172783,99955,108494,243255,2139-07-14 04:59:00,2139-07-17 10:00:00,100.5,98.6,Temperature ≥38°C (100.4°F)
172784,99955,108494,243255,2139-07-14 04:59:00,2139-07-17 04:00:00,100.4,98.6,Temperature ≥38°C (100.4°F)

In [17]:
#Check unique patients
unique_patients = FNHRT_result.drop_duplicates(subset=['subject_id']).reset_index(drop=True)
unique_patients

,subject_id,hadm_id,icustay_id,transfusion_starttime,temp_recorded_time,temperature_fahrenheit,baseline_temp_f,fnthr_criteria
0,109,126055,236124,2141-10-17 17:45:00,2141-10-24 05:00:00,100.8,98.7,Temperature rise ≥1°C (1.8°F) above baseline
1,124,138376,256064,2166-01-09 13:42:00,2166-01-19 20:00:00,101.3,98.6,Temperature ≥38°C (100.4°F)
2,406,100765,231758,2126-03-12 20:40:00,2126-03-16 20:00:00,100.6,98.6,Temperature ≥38°C (100.4°F)
3,502,116367,209737,2143-10-24 02:31:00,2143-11-04 11:36:00,100.5,99.1,Temperature ≥38°C (100.4°F)
4,605,149601,225778,2197-12-04 02:11:00,2197-12-14 08:00:00,100.5,98.6,Temperature ≥38°C (100.4°F)
...,...,...,...,...,...,...,...,...
2091,99836,101018,200347,2116-06-05 21:40:00,2116-06-09 20:00:00,100.9,98.6,Temperature ≥38°C (100.4°F)
2092,99863,100749,216757,2142-04-08 10:47:00,2142-04-09 08:00:00,100.7,102.9,Temperature ≥38°C (100.4°F)
2093,99923,192053,298857,2201-05-16 06:15:00,2201-05-17 12:00:00,100.6,98.6,Temperature ≥38°C (100.4°F)
2094,99939,159023,252442,2110-03-22 07:15:00,2110-03-23 08:00:00,100.8,98.6,Temperature ≥38°C (100.4°F)
2095,99955,108494,243255,2139-07-14 04:59:00,2139-07-18 00:00:00,101.0,98.6,Temperature ≥38°C (100.4°F)

/home/tyx1999120755/.pyenv/versions/3.12.7/envs/transfusion/lib/python3.12/site-packages/google/cloud/bigquery/table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

         subject_id  hadm_id  icustay_id        symptom_time           symptom
0                34   144319      290505 2191-02-24 04:00:00  Respiratory Rate
1                34   144319      290505 2191-02-23 19:00:00  Respiratory Rate
2                34   144319      290505 2191-02-24 05:00:00  Respiratory Rate
3                34   144319      290505 2191-02-24 06:00:00  Respiratory Rate
4                34   144319      290505 2191-02-24 00:00:00  Respiratory Rate
...             ...      ...         ...                 ...               ...
1317877       99995   137810      229633 2147-02-08 21:15:00  Respiratory Rate
1317878       99995   137810      229633 2147-02-10 13:00:00  Respiratory Rate
1317879       99995   137810      229633 2147-02-09 14:00:00  Respiratory Rate
1317880       99995   137810      229633 2147-02-09 23:00:00  Respiratory Rate
1317881       99995   137810      229633 2147-02-09 08:00:00  Respiratory Rate

[1317882 rows x 5 columns]

In [19]:
#Check unique patients
unique_patients = FNHRT_result.drop_duplicates(subset=['subject_id']).reset_index(drop=True)
len(unique_patients)

2096